!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title xero-ruby SDK
    %link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
  %body
    .container-fluid
      .row
        .col
          %a{href: "/"} Home
      .row
        .col-sm-2.sidenav
          %h4 Authentication
          %ul.nav.flex-column
            %li.nav-item
              %a.nav-link{:href => "/refresh-token"} Refresh Token
            %li.nav-item
              %a.nav-link{:href => "/connections"} List Connections
            %li.nav-item
              %a.nav-link{:href => "/add-connection"} Add Connection
            %li.nav-item
              %a.nav-link{:href => "/disconnect"} Disconnect
          %ul.nav.flex-column
            %h4 Accounting API
            %li.nav-item
              Contacts
            %li.nav-item
              %a.nav-link{:href => "/contacts"} Get Contacts
            %li.nav-item
              %a.nav-link{:href => "/contacts-dup-detection"} Detect Dup Contacts
            %li.nav-item
              %a.nav-link{:href => "/contacts-create-missing"} Create Missing Contacts (dryrun)
            %li.nav-item
              %a.nav-link{:href => "/contacts-create-missing?confirmed=true"} Create Missing Contacts (actual)
            %li.nav-item
              Invoices
            %li.nav-item
              %a.nav-link{:href => "/invoices"} Get Invoices
            %li.nav-item
              %a.nav-link{:href => "/invoices-filtered"} Get Invoices - Filtered
            %li.nav-item
              %a.nav-link{:href => "/invoices-create-missing"} Create Missing Invoices (dryrun)
            %li.nav-item
              %a.nav-link{:href => "/invoices-create-missing?confirmed=true"} Create Missing Invoices (actual)
            %li.nav-item
              %a.nav-link{:href => "/invoices-credit-filtered"} Credit Invoices - Filtered (dryrun)
            %li.nav-item
              %a.nav-link{:href => "/invoices-credit-filtered?confirmed=true"} Credit Invoices - Filtered (actual)
        .col-10
          = yield
